{
  "name": "{{ name }}",
  "version": "1.0.0",
  "description": "description of web_service",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "dependencies":{
{% for dependency in dependencies %}    {{ dependency }}{% if not loop.last%},{% endif %}
{% endfor %}
  },
  "author": "",
  "license": "ISC"
}
